name: Deploy to EC2

# 언제 실행할 것인가? : main 브랜치에 코드가 push 되었을 때
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Connect to EC2 and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |

            cd /home/ec2-user/guest-book-project


            git fetch --all
            git reset --hard origin/main
            git pull origin main

            cd backend
            chmod +x gradlew
            ./gradlew clean bootJar
            cd ..

            docker-compose up -d --build

            docker image prune -f
